@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Similar Style */
:root {
    --inter-font: "Inter", sans-serif;
    --Merriweather-font: "Merriweather", serif;
    --primary-color: #FFFFFF;
    --secondary-color: #070211;
    --tertiary-color: #FF0000;
    --fifth-color: #07021199;
}


/* Header related Style Start Here*/
.header {
    max-width: 1320px;
    margin: 0 auto;
}

.header-container {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("/images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;
}

.header-content {
    width: 632px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-content h3 {
    color: var(--primary-color);
    font-family: var(--Merriweather-font);
    font-size: 32px;
}

.header-content h1 {
    color: var(--primary-color);
    font-family: var(--Merriweather-font);
    font-size: 75px;
    font-weight: 900;
}

/* Header related Style End Here*/

main {
    max-width: 1320px;
    margin: 0 auto;
}

/* 65% Offer related Style Start Here */
.ny-offer-container {
    margin: 120px 0px;
}

.ny-offer-title {
    color: var(--tertiary-color);
    text-align: center;
    font-family: var(--inter-font);
    font-size: 88px;
    font-weight: 700;
}

.ny-offer-subtitle {
    color: var(--tertiary-color);
    text-align: center;
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}

.ny-offer-dis {
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--inter-font);
    font-size: 48px;
    font-weight: 700;
}

.ny-offer-img {
    width: 802px;
    margin: 0 auto;
    margin-top: 48px;
}

/* 65% Offer related Style End Here */
/* Night party related Style Start Here */
.night-party-container {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("/images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    border-radius: 16px;
}

.night-party-content {
    width: 697px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.night-party-content h3 {
    color: var(--primary-color);
    font-family: var(--Merriweather-font);
    font-size: 64px;
    font-weight: 900;
}

.night-party-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: var(--inter-font);
    font-size: 18px;
    margin-top: 24px;
}

.night-party-content h4 {
    color: var(--primary-color);
    padding-top: 48px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--inter-font);
}

.night-party-time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Night party related Style End Here */
/* Coming Soon related Style Start Here */
.join-now-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    margin: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-now {
    color: var(--secondary-color);
    font-family: var(--inter-font);
    font-size: 32px;
    font-weight: 600;
    margin-top: 5px;
}

.join-place {
    color: var(--tertiary-color);
}

.join-now-btn {
    background: var(--tertiary-color);
    color: var(--primary-color);
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--inter-font);
    border: none;
    margin-top: 48px;
}

.coming-soon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon-one,
.coming-soon-tow,
.coming-soon-three {
    width: 33.33%;
}

.coming-soon-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coming-soon-one h3 {
    color: var(--tertiary-color);
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: 500;
}

.coming-soon-one h1 {
    color: var(--secondary-color);
    font-family: var(--Merriweather-font);
    font-size: 48px;
    font-weight: 900;
    margin: 12px 0px 18px 0px;
}

.coming-soon-one p {
    color: var(--fifth-color);
    font-family: var(--inter-font);
    font-size: 20px;
}

.coming-soon-tow {
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 30px;
}

.coming-soon-tow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coming-soon-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 118px;
}

.coming-soon-three h1 {
    color: var(--tertiary-color);
    font-family: var(--inter-font);
    font-size: 48px;
    font-weight: 700;
}

.coming-soon-three p {
    color: var(--fifth-color);
    font-family: var(--inter-font);
    font-size: 20px;
    margin: 12px 0px 43px 0px;
    width: 276px;
}

/* Coming Soon related Style End Here */
/* Holidays Sale related Style Start Here */
.holidays-sale-container {
    margin: 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holidays-sale-container h3 {
    color: var(--secondary-color);
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: 500;
}

.holidays-sale-container h1 {
    color: var(--tertiary-color);
    font-family: var(--Merriweather-font);
    font-size: 72px;
    font-weight: 900;
}

.holidays-sale-container p {
    color: var(--fifth-color);
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: 500;
    width: 1068px;
    margin-top: 24px;
}

/* Holidays Sale related Style End Here */
/* Portfolio related Style Start Here*/
.portfolio-section h3 {
    color: var(--tertiary-color);
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: 500;
}

.portfolio-section h1 {
    color: var(--secondary-color);
    font-family: var(--Merriweather-font);
    font-size: 48px;
    font-weight: 900;
    margin-top: 12px;
}

.portfolio-section p {
    color: var(--fifth-color);
    font-family: var(--inter-font);
    font-size: 20px;
    width: 896px;
    margin: 16px 0px 40px 0px;
}

.portfolio-section-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.portfolio-section-img img:hover {
    background: lightgray -195.366px 0px / 156.077% 100%
}

.portfolio-section-img img {
    width: 100%;
    height: 100%;
}

/* Portfolio related Style End Here*/
/* Subscribe related Style Start here */
.subscribe-container {
    margin: 120px 0px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-content h1 {
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--Merriweather-font);
    font-size: 48px;
    padding-top: 40px;
    font-weight: 900;
    line-height: normal;
}

.subscribe-content p {
    width: 896px;
    color: var(--fifth-color);
    text-align: center;
    font-family: var(--inter-font);
    font-size: 20px;
    padding-top: 22px;
}

.subscribe-content form {
    width: 648px;
    display: flex;
    margin: 0 auto;
    margin-top: 48px;
}

.subscribe-content input[type="email"] {
    border-radius: 50px 0px 0px 50px;
    background: var(--primary-color);
    padding: 25px 30px;
    border: none;
    outline: none;
    width: 100%;
    color: var(--fifth-color);
    font-family: var(--inter-font);
    font-size: 18px;
}

.subscribe-content input[type="submit"] {
    border-radius: 50px;
    border-radius: 0px 50px 50px 0px;
    background: var(--tertiary-color);
    padding: 25px 30px;
    border: none;
    outline: none;
    color: var(--primary-color);
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: 600;
}

/* Subscribe related Style End here */
/* footer related style start here */
.footer {
    background: #070211;
}

.footer-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 120px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-left-side {
    color: var(--primary-color);
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: 500;
}

.footer-right-side {
    color: var(--primary-color);
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: 500;
    padding-right: 150px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    margin: 50px 0;
}

.footer-last-content {
    color: var(--primary-color);
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

/* footer related style end here */